## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)
# Import the dependencies.

import matplotlib.pyplot as plt
import numpy as np

# Import the API key.
from config import weather_api_key
# Import the datetime module from the datetime library.
from datetime import datetime

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database.csv")
city_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bredasdorp,ZA,-34.53,20.04,48.20,93,0,5.82,clear sky
1,1,Berlevag,NO,70.86,29.09,55.94,86,95,14.34,overcast clouds
2,2,Longyearbyen,SJ,78.22,15.64,44.60,93,75,4.70,broken clouds
3,3,Vao,NC,-22.67,167.48,66.56,69,100,18.99,overcast clouds
4,4,Puerto Ayora,EC,-0.74,-90.35,68.00,88,87,5.99,overcast clouds
5,5,Bilma,NE,18.69,12.92,92.21,32,0,7.47,clear sky
6,6,Punta Arenas,CL,-53.15,-70.92,41.00,86,75,6.93,broken clouds
7,7,Rikitea,PF,-23.12,-134.97,72.05,82,31,11.99,scattered clouds
8,8,Kapaa,US,22.08,-159.32,84.20,66,90,12.75,overcast clouds
9,9,Xinyang,CN,32.12,114.07,75.51,70,36,4.18,scattered clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 83

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
9,9,Xinyang,CN,32.12,114.07,75.51,70,36,4.18,scattered clouds
17,17,Marzuq,YE,14.40,46.47,79.14,42,26,2.68,scattered clouds
26,26,Eydhafushi,MV,5.10,73.07,82.02,78,95,19.53,overcast clouds
31,31,Los Llanos De Aridane,ES,28.66,-17.92,75.20,78,90,9.17,overcast clouds
35,35,Georgetown,MY,5.41,100.34,77.00,94,20,3.36,mist
48,48,Hambantota,LK,6.12,81.12,79.86,82,57,12.73,broken clouds
53,53,Butaritari,KI,3.07,172.79,82.92,73,64,11.10,broken clouds
59,59,Atuona,PF,-9.80,-139.03,78.30,77,28,21.97,scattered clouds
60,60,Mayor Pablo Lagerenza,PY,-19.93,-60.77,82.22,31,66,3.83,broken clouds
67,67,Kikwit,CD,-5.04,18.82,78.62,53,64,2.28,broken clouds

In [5]:
len(preferred_cities_df)

171

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                171
City                   171
Country                171
Lat                    171
Lng                    171
Max Temp               171
Humidity               171
Cloudiness             171
Wind Speed             171
Current Description    171
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = pd.DataFrame(city_data_df)
clean_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bredasdorp,ZA,-34.53,20.04,48.20,93,0,5.82,clear sky
1,1,Berlevag,NO,70.86,29.09,55.94,86,95,14.34,overcast clouds
2,2,Longyearbyen,SJ,78.22,15.64,44.60,93,75,4.70,broken clouds
3,3,Vao,NC,-22.67,167.48,66.56,69,100,18.99,overcast clouds
4,4,Puerto Ayora,EC,-0.74,-90.35,68.00,88,87,5.99,overcast clouds

In [8]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                171
City                   171
Country                171
Lat                    171
Lng                    171
Max Temp               171
Humidity               171
Cloudiness             171
Wind Speed             171
Current Description    171
dtype: int64

In [9]:
#4b. 
clean_df = preferred_cities_df.dropna()
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
9,9,Xinyang,CN,32.12,114.07,75.51,70,36,4.18,scattered clouds
17,17,Marzuq,YE,14.40,46.47,79.14,42,26,2.68,scattered clouds
26,26,Eydhafushi,MV,5.10,73.07,82.02,78,95,19.53,overcast clouds
31,31,Los Llanos De Aridane,ES,28.66,-17.92,75.20,78,90,9.17,overcast clouds
35,35,Georgetown,MY,5.41,100.34,77.00,94,20,3.36,mist
48,48,Hambantota,LK,6.12,81.12,79.86,82,57,12.73,broken clouds
53,53,Butaritari,KI,3.07,172.79,82.92,73,64,11.10,broken clouds
59,59,Atuona,PF,-9.80,-139.03,78.30,77,28,21.97,scattered clouds
60,60,Mayor Pablo Lagerenza,PY,-19.93,-60.77,82.22,31,66,3.83,broken clouds
67,67,Kikwit,CD,-5.04,18.82,78.62,53,64,2.28,broken clouds

In [10]:
len(clean_df)

171

In [11]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
#hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
#hotel_df["Hotel Name"] = ""
#hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
9,Xinyang,CN,75.51,scattered clouds,32.12,114.07,
17,Marzuq,YE,79.14,scattered clouds,14.40,46.47,
26,Eydhafushi,MV,82.02,overcast clouds,5.10,73.07,
31,Los Llanos De Aridane,ES,75.20,overcast clouds,28.66,-17.92,
35,Georgetown,MY,77.00,mist,5.41,100.34,
48,Hambantota,LK,79.86,broken clouds,6.12,81.12,
53,Butaritari,KI,82.92,broken clouds,3.07,172.79,
59,Atuona,PF,78.30,scattered clouds,-9.80,-139.03,
60,Mayor Pablo Lagerenza,PY,82.22,broken clouds,-19.93,-60.77,
67,Kikwit,CD,78.62,broken clouds,-5.04,18.82,

In [12]:
# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import g_key

In [13]:
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
9,Xinyang,CN,75.51,scattered clouds,32.12,114.07,
17,Marzuq,YE,79.14,scattered clouds,14.40,46.47,
26,Eydhafushi,MV,82.02,overcast clouds,5.10,73.07,
31,Los Llanos De Aridane,ES,75.20,overcast clouds,28.66,-17.92,
35,Georgetown,MY,77.00,mist,5.41,100.34,

In [14]:
len(hotel_df)

171

In [15]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    #print(hotels)
    #6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        #print("Hotel not found... skipping.")
        pass
        
# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

-----------------------------
Data Retrieval Complete
-----------------------------

In [28]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna()

#clean_hotel_df = hotel_df.dropna()
#clean_hotel_df.head(10)
# hotel_df = clean_hotel_df.dropna()
# print(clean_hotel_df.head(10))

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
9,Xinyang,CN,75.51,scattered clouds,32.12,114.07,Jinjiang Inn Style Xinyang Dongfanghong Avenue...
17,Marzuq,YE,79.14,scattered clouds,14.40,46.47,
26,Eydhafushi,MV,82.02,overcast clouds,5.10,73.07,Soneva Fushi
31,Los Llanos De Aridane,ES,75.20,overcast clouds,28.66,-17.92,Valle Aridane
35,Georgetown,MY,77.00,mist,5.41,100.34,Cititel Penang
...,...,...,...,...,...,...,...
691,Awjilah,LY,79.68,clear sky,29.11,21.29,
692,Laramie,US,82.40,clear sky,41.31,-105.59,Ramada by Wyndham Laramie
693,Bismarck,US,75.20,clear sky,46.81,-100.78,Ramkota Hotel & Conference Center
700,Tiruvallur,IN,80.60,scattered clouds,13.15,79.92,Raghu Residency
701,Brigantine,US,80.60,scattered clouds,39.41,-74.36,Legacy Vacation Resort Brigantine Beach

In [38]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
9,Xinyang,CN,75.51,scattered clouds,32.12,114.07,Jinjiang Inn Style Xinyang Dongfanghong Avenue...
17,Marzuq,YE,79.14,scattered clouds,14.40,46.47,
26,Eydhafushi,MV,82.02,overcast clouds,5.10,73.07,Soneva Fushi
31,Los Llanos De Aridane,ES,75.20,overcast clouds,28.66,-17.92,Valle Aridane
35,Georgetown,MY,77.00,mist,5.41,100.34,Cititel Penang
48,Hambantota,LK,79.86,broken clouds,6.12,81.12,Bungalow 63
53,Butaritari,KI,82.92,broken clouds,3.07,172.79,Isles Sunset Lodge
59,Atuona,PF,78.30,scattered clouds,-9.80,-139.03,Villa Enata
60,Mayor Pablo Lagerenza,PY,82.22,broken clouds,-19.93,-60.77,
67,Kikwit,CD,78.62,broken clouds,-5.04,18.82,Centre D'Accueil Protestant

In [42]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
clean_hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [43]:
# 11a. Add a marker layer for each city to the map. 
#marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
plt.savefig("WeatherPy_vacation_map.png")